[toolchain]
package_manager = "bun"

[features]
resolution = true
skip-lint = false

[programs.devnet]
magicplace = "CuZF7XRUieUPhPDNcNCrY27ai1JaEFJrQ5SdxXTckgfi"

[programs.localnet]
magicplace = "CuZF7XRUieUPhPDNcNCrY27ai1JaEFJrQ5SdxXTckgfi"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "bun run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
